.print-only {
  display: none;
  /*color: aquamarine;*/
}

@media print {
    img {
        display: none;
    }
    th, td {
        border: 1px solid black;
    }
    
    #references {
        page-break-before: always; /* or page-break-after: always; */
    }
    
    a {
        color: #746c25 !important; /* Change link color for print version */
    }
    
    body {
      font-family: "Lato";
    }
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #FAF9F0 !important;
}


.link-2 {
  background-color: #FAF9F0;
  padding: .1em;
  border-radius: 10px;
  border: 0.05em solid #746c25;
  border-left: 0.2em solid #746c25;
}

.link-2-header {
  margin-top: -1em;
  color: black;
  background-color: #FAF9F0;
  border-top-right-radius: 10px;
  margin-left: 1em;
}

.link-2-container {
  color: black;
  background-color: #FAF9F0;
  border-bottom-right-radius: 10px;
}
