@media print {
    img {
        display: none;
    }
    th, td {
        border: 1px solid black;
    }
    
    #references {
        page-break-before: always; /* or page-break-after: always; */
    }
    
    a {
        color: #364f7a !important; /* Change link color for print version */
    }
    
    body {
      font-family: "Helvetica Neue";
    }
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #FAF9F0 !important;
}


.link-2 {
  background-color: #FAF9F0;
  padding: 0.5em;
  border-radius: 10px;
  border: 0.05em solid #746c25;
  border-left: 0.2em solid #746c25;
}

.link-2-header {
  margin-top:-20px;
  width: 488px;
  height: 50px;
  color: black;
  background-color: #FAF9F0;
  border-top-right-radius: 10px;
}

.link-2-container {
  margin-top:-25px;
  width: 488px;
  height: 35px;
  padding: 5px;
  color: black;
  background-color: #FAF9F0;
  border-bottom-right-radius: 10px;
}

